<!DOCTYPE html>
<html>

<head>
    <title>八平學生進校登記系統</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/project.css' />
    <link rel="stylesheet" href="/static/admin.css">
</head>

<body>
    <h1>八平學生進校登記系統</h1>
    <h2>管理介面 登入</h2>
    <form action="/admin" method="POST">
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密碼">
        </div>
        <button type="submit" class="btn btn-primary">登入</button>
        {% if failed %}
        <p style="margin-top: 15px;" class="alert alert-danger">登入失敗，請重試</p>
        {% endif %}
    </form>
    <hr>
    <p>有問題？請傳 email 給 <a href="mailto:10851022@st.fhjh.tp.edu.tw">10851022@st.fhjh.tp.edu.tw</a><br>Created by Aaron
        Lee.</p>
</body>