<!DOCTYPE html>
<html>

<head>
    <title>八平學生進校登記系統</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='/static/project.css' />
    <link rel="stylesheet" href="/static/admin.css">
</head>

<body>
    <h1>八平學生進校登記系統</h1>
    <h2>管理介面 <a href="/admin">登出</a></h2>
    <hr>
    <h3>第一梯次 (8/11 星期三 10:00 ~ 10:30) ({{ early|length }} 人)</h3>
    <div class="col">
        <div class="row title">
            <div class="col-3">座號</div>
            <div class="col-3">學號</div>
            <div class="col-3">需代領其他人</div>
            <div class="col-3">備註</div>
        </div>
        {% for e in early %}
        <div class="row">
            <div class="col-3">{{ e }}</div>
            <div class="col-3">{{ early[e]['stud_ID'] }}</div>
            <div class="col-3">
                {% for i in early[e]['needToHelp'] %}
                {{ i }},
                {% endfor %}
            </div>
            <div class="col-3">
                <form class="form-inline" action="/admin/addnote" method='POST'>
                    <input type="text" name="number" value="{{e}}" hidden>
                    <input type="text" name="password" value="{{password}}" hidden>
                    <div class="row">
                        <div class="col-8">
                            <input type=" text" class="form-control" id="note" name="note"
                                value="{% if 'note' in early[e] %}{{ early[e]['note'] }}{% endif %}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mb-2">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>第二梯次 (8/11 星期三 10:30 ~ 11:00) ({{ late|length }} 人)</h3>
    <div class="col">
        <div class="row title">
            <div class="col-3">座號</div>
            <div class="col-3">學號</div>
            <div class="col-3">需代領其他人</div>
            <div class="col-3">備註</div>
        </div>
        {% for e in late %}
        <div class="row">
            <div class="col-3">{{ e }}</div>
            <div class="col-3">{{ late[e]['stud_ID'] }}</div>
            <div class="col-3">
                {% for i in late[e]['needToHelp'] %}
                {{ i }},
                {% endfor %}
            </div>
            <div class="col-3">
                <form class="form-inline" action="/admin/addnote" method='POST'>
                    <input type="text" name="number" value="{{e}}" hidden>
                    <input type="text" name="password" value="{{password}}" hidden>
                    <div class="row">
                        <div class="col-8">
                            <input type=" text" class="form-control" id="note" name="note"
                                value="{% if 'note' in late[e] %}{{ late[e]['note'] }}{% endif %}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mb-2">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>請人代領 ({{ other|length }} 人)</h3>
    <div class="col">
        <div class="row title">
            <div class="col-3">座號</div>
            <div class="col-3">學號</div>
            <div class="col-3">代領人</div>
            <div class="col-3">選項</div>
        </div>
        {% for e in other %}
        <div class="row">
            <div class="col-3">{{ e }}</div>
            <div class="col-3">{{ other[e]['stud_ID'] }}</div>
            <div class="col-3">
                {{ other[e]['helper'] }},
            </div>
            <div class="col-3">
                <form class="form-inline" action="/admin/addnote" method='POST'>
                    <input type="text" name="number" value="{{e}}" hidden>
                    <input type="text" name="password" value="{{password}}" hidden>
                    <div class="row">
                        <div class="col-8">
                            <input type=" text" class="form-control" id="note" name="note"
                                value="{% if 'note' in other[e] %}{{ other[e]['note'] }}{% endif %}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mb-2">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>尚未選取 ({{ nosubmit|length }} 人)</h3>
    <div class="col">
        <div class="row title">
            <div class="col-3">座號</div>
            <div class="col-3">學號</div>
            <div class="col-3">需代領其他人</div>
            <div class="col-3">備註</div>
        </div>
        {% for e in nosubmit %}
        <div class="row">
            <div class="col-3">{{ e }}</div>
            <div class="col-3">{{ nosubmit[e]['stud_ID'] }}</div>
            <div class="col-3">
                {% for i in nosubmit[e]['needToHelp'] %}
                {{ i }},
                {% endfor %}
            </div>
            <div class="col-3">
                <form class="form-inline" action="/admin/addnote" method='POST'>
                    <input type="text" name="number" value="{{e}}" hidden>
                    <input type="text" name="password" value="{{password}}" hidden>
                    <div class="row">
                        <div class="col-8">
                            <input type=" text" class="form-control" id="note" name="note"
                                value="{% if 'note' in nosubmit[e] %}{{ nosubmit[e]['note'] }}{% endif %}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mb-2">確認</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <p>有問題？請傳 email 給 <a href="mailto:10851022@st.fhjh.tp.edu.tw">10851022@st.fhjh.tp.edu.tw</a><br>Created by Aaron
        Lee.</p>
</body>

</html>