<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/project.css">
    <title>九平學生進校登記系統</title>
</head>

<body>
    <h1>九平學生進校登記系統</h1>
    <h2>成功！請稍後跳轉畫面...<a href="/admin">無法跳轉？點這裡</a></h2>
    <hr>
    <p>有問題？請傳 email 給 <a href="mailto:10851022@st.fhjh.tp.edu.tw">10851022@st.fhjh.tp.edu.tw</a><br>Created by Aaron
        Lee.</p>
    <script>
        (function () {
            var form = document.createElement('form');
            document.body.appendChild(form);
            form.method = 'post';
            form.action = '/admin';
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'password';
            input.value = '{{ password }}';
            form.appendChild(input);
            setTimeout(function () {
                form.submit();
            }, 2000);
        })();
    </script>
</body>

</html>